.disabled-btn {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .position-relative {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }
  